@using UPProjects.Models
@model UPProjects.Models.SurveryList
@{
    ViewData["Title"] = "GetCompleteDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row page-title-header">
    <div class="col-12">
        <div class="page-header">
            <h4 class="page-title">Survey Complete Detail</h4>

        </div>
    </div>
</div>
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row">

                <div class="col-sm-3">

                    <label><b>Survey Date</b></label><br />
                    <span>@Model.SurveyDate</span>

                </div>
                <div class="col-sm-3">

                    <label><b>Surveryor Name</b></label><br />
                    <span>@Model.SurveyorName</span>

                </div>
                <div class="col-sm-3">

                    <label><b>District</b></label><br />
                    <span>@Model.Districtname</span>

                </div>
                <div class="col-sm-3">

                    <label><b>Tehsil</b></label><br />
                    <span>@Model.TehsilName</span>

                </div>
            </div>
            <br />
            <div class="row">

                <div class="col-sm-3">

                    <label><b>Block</b></label><br />
                    <span>@Model.BlockName</span>

                </div>
                <div class="col-sm-3">

                    <label><b>Gram Sabha</b></label><br />
                    <span>@Model.Gramsabha</span>

                </div>
                <div class="col-sm-3">

                    <label><b>Site Type</b></label><br />
                    <span>@Model.SiteType</span>

                </div>
                <div class="col-sm-3">

                    <label><b>Electricity Availability</b></label><br />
                    <span>@Model.Electrity</span>

                </div>
            </div>
            <br />
            <div class="row">

                <div class="col-sm-3">

                    <label><b>Water Availability </b></label><br />
                    <span>@Model.Water</span>

                </div>
                <div class="col-sm-3">

                    <label><b>Red Mark</b></label><br />
                    <span>@Model.Whetherredmark</span>

                </div>
                <div class="col-sm-3">

                    <label><b>Tap Water</b></label><br />
                    <span>@Model.Whethertapwater</span>

                </div>
                <div class="col-sm-3">

                    <label><b>Image 1 </b></label><br />
                    <span>@Html.Raw(Model.Image1)</span>

                </div>

            </div>
            <br />
            <div class="row">

                <div class="col-sm-3">

                    <label><b>Image 2 </b></label><br />
                    <span>@Html.Raw(Model.Image2)</span>

                </div>
                <div class="col-sm-3">

                    <label><b>Latitude</b></label><br />
                    <span>@Model.Latitude</span>

                </div>
                <div class="col-sm-3">

                    <label><b>Longitude</b></label><br />
                    <span>@Model.Longitude</span>

                </div>
                <div class="col-sm-3">

                    <label><b>Status</b></label><br />
                    <span>@Model.SurveyStatus</span>

                </div>
            </div>
            <br />
            <div class="row">
                <input type="hidden" value="@Model.Latitude" id="lat" />
                <input type="hidden" value="@Model.Longitude" id="longi" />
                <div class="col-sm-12">
                    <div class="map_canvas" style="width: 900px; height: 400px">
                    </div>

                </div>
            </div>
        </div>
    </div>
    @section Scripts{
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?API_KEY=AIzaSyClKOB9G8DKkuJiOcUR6SipODDiiGmhp-Y&sensor=false"></script>
        <script type="text/javascript">
             
            window.onload = function () {
                var lat = @Model.Latitude;
                var lon = @Model.Longitude;
                var myLatlng = new google.maps.LatLng(lat, lon) // This is used to center the map to show our markers
                var mapOptions = {
                center: myLatlng,
                zoom: 6,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                marker: true
                };
                var map = new google.maps.Map(document.getElementsByClassName("map_canvas"), mapOptions);
                var marker = new google.maps.Marker({
                position: myLatlng
            });
            marker.setMap(map);
            }
       
       </script>
    }


