@model List<UPProjects.Models.MPR>
@{
    ViewData["Title"] = "PendingMPR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row page-title-header">
    <div class="col-12">
        <div class="page-header">
            <h4 class="page-title">List of Pending MPR</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive" id="Results">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Name of Unit
                                </th>
                                <th>
                                    Financial Year
                                </th>
                                <th>
                                    Month
                                </th>
                                <th>
                                    MPR File
                                </th>
                                <th>
                                    Uploaded ON
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{ int i = 0; }
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @{ i++; }
                                    <label>@i</label>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FinancialYear)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Month)
                                </td>
                                <td>
                                    <a target="_blank" href="/Upload/MPR/@Html.DisplayFor(modelItem => item.FilePath)">View<i class="fa fa-eye"></i></a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UploadOn)
                                </td>
                                <td>
                                    <span style="color:red">Not Approve</span>
                                </td>
                                <td>
                                    <a data-ajax="true"
                                       data-ajax-begin="onBeginApp"
                                       data-ajax-complete="onComplete"
                                       data-ajax-success="onComplete"
                                       href='@Url.Action("ApproveMPR", "MPR", new { Id = @item.Id })'
                                       class="btn btn-info"><i class="menu-icon mdi mdi-check"></i>Approve </a>
                                    <a data-ajax="true"
                                       data-ajax-begin="onBeginRej"
                                       data-ajax-complete="onComplete"
                                       data-ajax-success="onComplete"
                                       href='@Url.Action("DisapproveMPR", "MPR", new { Id = @item.Id })'
                                       class="btn btn-info"><i class="menu-icon mdi mdi-account-remove"></i>Reject</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var onBeginApp = function () {
            if (confirm('Are you sure to approve this MPR?'))
                return true;
            else
                return false;
        };
        var onBeginRej = function () {
            if (confirm('Are you sure to reject this MPR?'))
                return true;
            else
                return false;
        };
        var onComplete = function (Response) {          
            
            if (Response.result === "Approve") {
                alert('MPR approved succesfully.');
            }
            if (Response.result === "Reject") {
                alert('MPR Rejected.');
            }
            location.href = '/mpr/PendingMPR';
        };
    </script>
}