@using UPProjects.Models
@model IEnumerable<UPProjects.Models.SurveyListByUnit>
@{
    ViewData["Title"] = "COMPILE SURVEY LIST";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ZoneId = 0;
    var UnitId = 0;
    var UnitSumAshram = 0;
    var UnitSumAngan = 0;
    var UnitSumSchool = 0;
    var GrandSumAshram = 0;
    var GrandSumAnganwadi = 0;
    var GrandSumSchool = 0;

}


<div class="row page-title-header">
    <div class="col-12">
        <div class="page-header">
            <h4 class="page-title text-uppercase">Compile Survey List</h4>
        </div>
    </div>
</div>
<div class="row action" >
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-group text-right">
            <button type="button" id="btnPrint" class="btn btn-primary print">
                प्रिंट करें
            </button>
            <button class="btn btn-sm btn-flat btn-outline-dark mr-t23 boxsnone" href="javascript:;"
                    onclick="getExcel('tblData1', 'Complie Survey List')">
                Download in Excel
            </button>

        </div>
    </div>
</div>
<style>
    .affix {
    top: 0 !important;
    width: 100% !important;
    z-index: 9999 !important;
  }

  .affix + table.content {
    padding-top:300px !important;
  }
</style>
<section class="bod_section "  >
    <div class="container" id="fbldata">
        <div  class="card">
            <table class="table table-bordered table-hover table-striped css-serial" id="tblData1" >
                <thead class="thead-dark" data-spy="affix" data-offset-top="150">
                    <tr class="red">
                        <th>#</th>
                        <th>Aashram </th>
                        <th>Anganwadi</th>
                        <th>School </th>
                        <th>
                            Grand Total
                        </th>


                    </tr>
                </thead>
                <tbody class="content">
                    @foreach (var item in Model)
                    {
                        var grantotal = 0;
                        grantotal = item.School + item.Anganwadi + item.Aashram;

                        @if (ZoneId != item.ZoneId)
                        {

                            <tr>
                                <th>@item.ZonerName</th>
                                <th>@Model.Where(x => x.ZoneId == item.ZoneId).Sum(x => x.Aashram)</th>
                                <th>@Model.Where(x => x.ZoneId == item.ZoneId).Sum(x => x.Anganwadi)</th>
                                <th>@Model.Where(x => x.ZoneId == item.ZoneId).Sum(x => x.School)</th>
                                @{
                                    var gp1 = Model.Where(x => x.ZoneId == item.ZoneId).Sum(x => x.Aashram) + Model.Where(x => x.ZoneId == item.ZoneId).Sum(x => x.Anganwadi) + Model.Where(x => x.ZoneId == item.ZoneId).Sum(x => x.School);
                                }
                                <th>@gp1</th>


                            </tr>



                        }
                        if (UnitId != item.UnitId)
                        {
                            <tr>
                                <th>@item.UnitName</th>
                                <th>@Model.Where(x => x.UnitId == item.UnitId).Sum(x => x.Aashram)</th>
                                <th>@Model.Where(x => x.UnitId == item.UnitId).Sum(x => x.Anganwadi)</th>
                                <th>@Model.Where(x => x.UnitId == item.UnitId).Sum(x => x.School)</th>
                                @{
                                    var gp = Model.Where(x => x.UnitId == item.UnitId).Sum(x => x.Aashram) + Model.Where(x => x.UnitId == item.UnitId).Sum(x => x.Anganwadi) + Model.Where(x => x.UnitId == item.UnitId).Sum(x => x.School);
                                }
                                <th>@gp</th>
                            </tr>

                        }


                        <tr>

                            <td>@item.DistrictName</td>
                            <td>@item.Aashram</td>
                            <td>@item.Anganwadi</td>
                            <td>@item.School</td>
                            <td>@grantotal</td>

                        </tr>

                        ZoneId = item.ZoneId;
                        UnitId = item.UnitId;
                        UnitSumAshram = UnitSumAshram + item.Aashram;
                        UnitSumAngan = UnitSumAngan + item.Anganwadi;
                        UnitSumSchool = UnitSumSchool + item.School;

                        GrandSumAshram = GrandSumAshram + item.Aashram;
                        GrandSumAnganwadi = GrandSumAnganwadi + item.Anganwadi;
                        GrandSumSchool = GrandSumSchool + item.School;





                    }

                </tbody>
                
                    <tr>
                        <th>Grand Total</th>
                        <th>@GrandSumAshram</th>
                        <th>@GrandSumAnganwadi</th>
                        <th>@GrandSumSchool</th>
                        @{
                            var total = GrandSumAshram + GrandSumAnganwadi + GrandSumSchool;
                        }
                        <th>@total</th>
                    </tr>
                
            </table>
        </div>
    </div>
</section>



@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/APPjs/ExcelExport.js"></script>
   

    <script>

        document.write("<script type='text/javascript' src='/lib/mriPrintArea.js?v=" + Date.now() + "'><\/script>");
        $(document).ready(function () {
            $('#loader').css("display", "block");

            setTimeout(function () { $('#loader').css("display", "none"); }, 1500);


        })


       

        $("#btnPrint").click(function () {
            $("#btnPrint").hide();
          
            var mode = 'iframe'; //popup
            var popTitle = "Complie Survey List";
            var close = mode == "popup";
            var extraHead = "<style>.row {display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-right: -15px;margin-left: -15px;}.col-md-4{position: relative;width: 100%;min-height: 1px;padding-right: 0px;padding-left: 0px;}.col-md-4 {-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;}.col-md-3 {-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;} body{color: #0a0a0a;} table.PayBillTable1 tbody td {font-size: 15px;}table.PayBillTable1 thead th {font-size: 15px;}.PayBill p {font-weight: 600;font-size: 15px;}</style>";
            extraHead += '<style>#background {position: fixed;top: 25%;left: 5%;opacity: 0.4;z-index: 99;}';
            extraHead += '.columncount {column-count: 3;font-weight: bolder;}.columncount li span {font-weight: normal;}';
            extraHead += '#bg-text {color: lightgrey;font-size: 20em;transform: rotate(300deg);-webkit-transform: rotate(300deg);}';
            extraHead += '#content {position: absolute;z-index: 1;;width:100%;}</style>';
            extraHead += '<meta charset="utf-8"/>,<meta http-equiv="X-UA-Compatible" content="IE=edge"/>,<style rel="stylesheet" type="text/css" media="print">@@page { size: landscape; }</style ><style>fieldset {            border: 1px solid #748a7d;        }        fieldset {            min-width: 0;            padding: 10px;            margin: 10px;            order: 1px solid #ccc;        }        legend {            border: 1px solid #748a7d;            color: whitesmoke !important;            white-space: normal;           background: #748a7d;        }        legend {       color: black !important;     border: 1px solid #ccc;            padding: 0px 10px 0px 10px;            display: block;           width: auto !important;            margin-bottom: .5rem;            font-size: 15px;            line-height: inherit;            color: inherit;            white-pace: normal;        }</style> ';
            var options = { mode: mode, popClose: close, extraHead: extraHead, popTitle: popTitle };
            $("#fbldata").printArea(options);
             $("#btnPrint").show();


        });
    </script>

    
}
